<section>
    <div class="container mt-5">
        <form class="form-inline my-2 my-lg-0" action="/user" method="post">
            <label class="mr-2" for="cif_id">CIF ID:</label>
            <input class="form-control mr-sm-2" type="text" name="cif_id" placeholder="Enter CIF ID"
                aria-label="Search">
            <label class="mr-2" for="period">Period:</label>
            <input class="form-control mr-sm-2" type="number" name="period"
                placeholder="Period(Months) of data to fetch">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</section>